/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
/* Colores */
/* Fuentes */
/* Mixins */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: #FFBD69;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.8rem 0px;
}

.icono {
  height: 24px;
  width: 24px;
}

.main-logo {
  color: transparent;
  font-size: 0px;
}

.imagen-responsive, main .card .imagen, .caja-texto-imagen > .imagen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.contenedor {
  width: 80%;
  margin: auto;
}

@media (max-width: 768px) {
  .contenedor {
    width: 90%;
    margin: auto;
  }
}
/*@media (max-width: 480px) {
    .contenedor {
        width: 100%;
        margin: auto;
    }
}*/
/* GENERALES */
.pagina > h1 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  color: #202040;
}

.caja-texto-imagen {
  display: flex;
}

@media (max-width: 1024px) {
  .caja-texto-imagen {
    flex-direction: column !important;
  }
}
.caja-texto-imagen > .imagen {
  width: 20%;
  background-image: url(../assets/imgs/perfil.jpg);
  border-bottom-left-radius: 25px;
}

.caja-texto-imagen > .imagen:before {
  content: "";
  display: block;
  padding-top: 100%;
}

@media (max-width: 1024px) {
  .caja-texto-imagen > .imagen {
    width: 100%;
  }
}
.caja-texto-imagen,
.perfil {
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 5px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin: 25px 0px;
  background-color: #202040;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: 3px solid #FF6363;
}

.caja-texto-imagen > .texto {
  width: 80%;
  color: white;
  padding: 40px;
  display: block;
}

@media (max-width: 1024px) {
  .caja-texto-imagen > .texto {
    width: 100%;
  }
}
.caja-texto-imagen > .imagen-izquierda {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 0px;
}

@media (max-width: 1024px) {
  .caja-texto-imagen > .imagen-izquierda {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
}
/* FORMULARIO DE CONTACTO */
.formulario-contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 500px;
  background-color: #202040;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 20px;
  border-top: 3px solid #FF6363;
  color: white;
}

.formulario-contacto > input {
  outline: none;
  border: none;
  height: 32px;
  padding: 0px 5px;
  text-transform: uppercase;
  border-bottom: 3px solid #FF6363;
  font-family: "Lato", sans-serif;
}

.formulario-contacto > textarea {
  height: 100px;
  resize: none;
  outline: none;
  border: none;
  padding: 5px 5px;
  text-transform: uppercase;
  border-bottom: 3px solid #FF6363;
  font-family: "Lato", sans-serif;
}

.formulario-contacto > button {
  background-color: #FF6363;
  border: none;
  padding: 5px;
  font-weight: bold;
  color: #202040;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}

.formulario-contacto > button:active {
  transform: scale(1.02);
}

/* HEAD */
header section {
  box-sizing: border-box;
  width: 100%;
  margin: 50px 0px;
  padding: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #202040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #FF6363;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 5px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.logo {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../assets/imgs/logo.png);
  width: 180px;
  min-height: 80px;
}

@media (max-width: 1024px) {
  .menu-escritorios {
    display: none;
  }
}
.menu-escritorios ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  list-style: none;
}
.menu-escritorios ul .active {
  border-bottom: 3px solid #FF6363;
}
.menu-escritorios ul .active::after {
  height: 0px;
}
.menu-escritorios ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
}
.menu-escritorios ul li::after {
  transition: all ease-in-out 0.5s;
  background: none repeat scroll 0 0 #FF6363;
  content: "";
  display: block;
  height: 3px;
  width: 0;
  margin-left: 10%;
}
.menu-escritorios ul li:hover:after {
  width: 80%;
}

#btn-abrir-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 9px;
}
#btn-abrir-menu .icono {
  filter: invert(100%);
  height: 25px;
  width: 25px;
}

.menu-celulares {
  display: none;
}

.sidenav {
  display: none;
}

/* Sidenav */
@media (max-width: 1024px) {
  .menu-celulares {
    display: block;
  }
  .menu-celulares a {
    color: white;
    font-weight: bold;
    display: inline-block;
    outline: none;
    text-decoration: none;
  }
  .sidenav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #202040;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 4px solid #FF6363;
  }
  .sidenav .logo {
    margin: auto !important;
    margin-bottom: 40px !important;
  }
  .sidenav ul {
    list-style: none;
  }
  .sidenav .enlaces {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
    margin: auto;
  }
  .sidenav .enlaces li {
    margin: 15px 0px;
  }
  .sidenav .enlaces li .active {
    border-bottom: 3px solid #FF6363;
  }
  .sidenav .enlaces li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .sidenav .redes {
    display: flex;
    margin: 0px;
    justify-content: center;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .sidenav .informacion-contacto {
    color: white;
    width: 80%;
    margin: auto;
    font-size: 0.7rem;
    text-align: center;
  }
  #btn-cerrar-sidenav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
    outline: none;
  }
}
/* INICIO - MAIN */
/* Implementacion GRID en inicio */
.grid-contenedor-inicio {
  display: grid;
  grid-template-areas: "slider slider slider" "card-1 card-2 card-3";
  gap: 25px;
}
.grid-contenedor-inicio .grid-item-slider {
  grid-area: slider;
}
.grid-contenedor-inicio .grid-item-card-1 {
  grid-area: card-1;
}
.grid-contenedor-inicio .grid-item-card-2 {
  grid-area: card-2;
}
.grid-contenedor-inicio .grid-item-card-3 {
  grid-area: card-3;
}

@media (max-width: 1024px) {
  .grid-contenedor-inicio {
    display: grid;
    grid-template-areas: "slider" "card-1" "card-2" "card-3";
    gap: 25px;
  }
}
main section .slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #202040;
  border-top: 3px solid #FF6363;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 40px;
  box-sizing: border-box;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 5px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-image: url(../assets/imgs/slider_comprimido.webp);
}
main section .slider .titulo {
  background-color: #202040;
  padding: 15px;
  color: white;
  border-top: 3px solid #FF6363;
  width: 40%;
}
main .card {
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 5px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-top: 4px solid #FF6363;
  background-color: #202040;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: white;
  margin: 10px;
}
main .card p {
  padding: 10px 20px;
}
main .card .imagen {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-image: url(../assets/imgs/img_card_comprimido.webp);
  padding: 0px;
  margin: 0px;
}
main .card .imagen::before {
  content: "";
  display: block;
  padding-top: 54%;
}

@media (max-width: 600px) {
  main > section > .slider {
    padding: 5px;
  }
}
@media (max-width: 1024px) {
  main > section > .slider {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  main > section > .slider > .titulo {
    width: 100%;
  }
  main > section > .slider > .formulario-contacto {
    width: 100%;
  }
}
/* CONTACTO - MAIN */
.pagina-contacto .contenedor-formulario-contacto {
  width: 60%;
  margin: auto;
}
.pagina-contacto .contenedor-formulario-contacto .formulario-contacto {
  min-height: 600px;
}

@media (max-width: 820px) {
  .pagina-contacto > .contenedor-formulario-contacto {
    width: 100%;
    margin: auto;
  }
}
/* BLOG - MAIN */
/* Implementacion GRID en blog */
.grid-contenedor-blog {
  display: grid;
  grid-template-areas: "titulo" "post-1" "post-2" "post-3";
}
.grid-contenedor-blog .grid-item-titulo {
  grid-area: titulo;
}
.grid-contenedor-blog .grid-item-post-1 {
  grid-area: post-1;
}
.grid-contenedor-blog .grid-item-post-2 {
  grid-area: post-2;
}
.grid-contenedor-blog .grid-item-post-3 {
  grid-area: post-3;
}

@media (max-width: 1024px) {
  .grid-contenedor-inicio {
    display: grid;
    grid-template-areas: "slider" "card-1" "card-2" "card-3";
    gap: 25px;
  }
}
/* MAIN - ACERCADE */
/* Implementacion GRID en acercade */
.grid-contenedor-acercade {
  display: grid;
  grid-template-areas: "titulo" "acerca" "personal" "experiencia" "formacion";
}
.grid-contenedor-acercade .grid-item-titulo {
  grid-area: titulo;
}
.grid-contenedor-acercade .grid-item-acerca {
  grid-area: acerca;
}
.grid-contenedor-acercade .grid-item-personal {
  grid-area: personal;
}
.grid-contenedor-acercade .grid-item-experiencia {
  grid-area: experiencia;
}
.grid-contenedor-acercade .grid-item-formacion {
  grid-area: formacion;
}

.pagina-acercade .caja-texto-imagen p {
  padding: 40px;
  color: white;
}
.pagina-acercade .perfil h2 {
  text-align: center;
  color: white;
  font-weight: bold;
}
.pagina-acercade .perfil p {
  padding: 40px;
  color: white;
}

/* PRECIOS - MAIN */
/* Implementacion GRID en precios */
.grid-contenedor-precios {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "plan-1 plan-2 plan-3" "promocion promocion promocion";
  gap: 25px;
}
.grid-contenedor-precios .grid-item-titulo {
  grid-area: titulo;
}
.grid-contenedor-precios .grid-item-plan-1 {
  grid-area: plan-1;
}
.grid-contenedor-precios .grid-item-plan-2 {
  grid-area: plan-2;
}
.grid-contenedor-precios .grid-item-plan-3 {
  grid-area: plan-3;
}
.grid-contenedor-precios .grid-item-promocion {
  grid-area: promocion;
}

@media (max-width: 820px) {
  .grid-contenedor-precios {
    grid-template-areas: "titulo" "plan-1" "plan-2" "plan-3" "promocion";
  }
}
.pagina-precios .plan {
  box-sizing: border-box;
  background-color: white;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 5px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #202040;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: 3px solid #FF6363;
  min-height: 420px;
  width: 100%;
  padding: 40px;
  text-align: center;
}
.pagina-precios .plan ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.pagina-precios .plan ul li {
  margin: 10px 0px;
}
.pagina-precios .plan h2 {
  margin: 0px;
}
.pagina-precios .plan .precio {
  font-weight: bold;
  margin: 20px 0px;
}

.banner-promocional {
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 5px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  margin-top: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../assets/imgs/banner_promo_comprimido_webp.webp);
  padding: 25px;
  margin: 0px;
  border-top: 3px solid #FF6363;
}
.banner-promocional::before {
  content: "";
  display: block;
  padding-top: 20%;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #202040;
  border-bottom: 3px solid #FF6363;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 40px;
  box-sizing: border-box;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 5px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin: 50px 0px;
  color: white;
}
footer ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
footer .logo {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../assets/imgs/logo.png);
  width: 200px;
  min-height: 80px;
}
footer .informacion-contacto li {
  margin: 10px;
}
footer .redes {
  display: flex;
}
footer .redes li {
  width: 24px;
  height: 24px;
  margin: 10px;
  filter: invert(100%);
  cursor: pointer;
}

@media (max-width: 1024px) {
  footer {
    flex-direction: column;
  }
  footer > .logo {
    margin-bottom: 20px;
  }
  footer > .informacion-contacto {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
