/* MAIN - ACERCADE */
/* Implementacion GRID en acercade */
.grid-contenedor-acercade {
    display: grid;
    grid-template-areas:
        "titulo"
        "acerca"
        "personal"
        "experiencia"
        "formacion";
    .grid-item-titulo {
        grid-area: titulo;
    }
    
    .grid-item-acerca {
        grid-area: acerca;
    }
    
    .grid-item-personal {
        grid-area: personal;
    }
    
    .grid-item-experiencia {
        grid-area: experiencia;
    }
    
    .grid-item-formacion {
        grid-area: formacion;
    }
}
.pagina-acercade{
    .caja-texto-imagen{
        p{
            padding: 40px;
            color: white;
        }
    }
    .perfil{
        h2 {
            text-align: center;
            color: white;
            font-weight: bold;
        }
        p {
            padding: 40px;
            color: white;
        }
    }
}
