/* BLOG - MAIN */
/* Implementacion GRID en blog */
.grid-contenedor-blog {
    display: grid;
    grid-template-areas:
        "titulo"
        "post-1"
        "post-2"
        "post-3";
    .grid-item-titulo {
        grid-area: titulo;
    }
    
    .grid-item-post-1 {
        grid-area: post-1;
    }
    
    .grid-item-post-2 {
        grid-area: post-2;
    }
    
    .grid-item-post-3 {
        grid-area: post-3;
    }
}

@media (max-width: 1024px) {
    .grid-contenedor-inicio {
        display: grid;
        grid-template-areas:
            "slider"
            "card-1"
            "card-2"
            "card-3";
        gap: 25px;
    }
}