
/* CONTACTO - MAIN */
.pagina-contacto{
    .contenedor-formulario-contacto {
        width: 60%;
        margin: auto;
        .formulario-contacto {
            min-height: 600px;
        }
    }
}

@media (max-width: 820px) {
    .pagina-contacto>.contenedor-formulario-contacto {
        width: 100%;
        margin: auto;
    }
}