/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: map-get($colores, 'primero');
    border-bottom: 3px solid map-get($colores, 'tercero');
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 40px;
    box-sizing: border-box;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    @include sombras();
    margin: 50px 0px;
    color: white;
    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    .logo {
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../assets/imgs/logo.png);
        width: 200px;
        min-height: 80px;
    }
    .informacion-contacto{
        li {
            margin: 10px;
        }
    }
    .redes {
        display: flex;
        li {
            width: 24px;
            height: 24px;
            margin: 10px;
            filter: invert(100%);
            cursor: pointer;
        }
    }
}

@media (max-width: 1024px) {
    footer {
        flex-direction: column;
    }

    footer>.logo {
        margin-bottom: 20px;
    }

    footer>.informacion-contacto {
        margin-bottom: 20px;
    }
}