* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-color: map-get($colores, 'cuarto');
}

body {
    font-family: $fuente;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0.8rem 0px;
}

.icono{
    height: 24px;
    width: 24px;
}

.main-logo{
    color: transparent;
    font-size: 0px;
}

.imagen-responsive{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.contenedor {
    width: 80%;
    margin: auto;
}

@media (max-width: 768px) {
    .contenedor {
        width: 90%;
        margin: auto;
    }
}

/*@media (max-width: 480px) {
    .contenedor {
        width: 100%;
        margin: auto;
    }
}*/

/* GENERALES */
.pagina>h1 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    color: map-get($colores, 'primero');
}

.caja-texto-imagen {
    display: flex;
}

@media (max-width: 1024px) {
    .caja-texto-imagen {
        flex-direction: column !important;
    }
}

.caja-texto-imagen>.imagen {
    width: 20%;
    @extend .imagen-responsive;
    background-image: url(../assets/imgs/perfil.jpg);
    border-bottom-left-radius: 25px;
}

.caja-texto-imagen>.imagen:before {
    content: "";
    display: block;
    padding-top: 100%;
}

@media (max-width: 1024px) {
    .caja-texto-imagen>.imagen {
        width: 100%;
    }
}

.caja-texto-imagen,
.perfil {
    @include sombras();
    margin: 25px 0px;
    background-color: map-get($colores, 'primero');
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: 3px solid map-get($colores, 'tercero');
}

.caja-texto-imagen>.texto {
    width: 80%;
    color: white;
    padding: 40px;
    display: block;
}

@media (max-width: 1024px) {
    .caja-texto-imagen>.texto {
        width: 100%;
    }
}

.caja-texto-imagen>.imagen-izquierda {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 0px;
}

@media (max-width: 1024px) {
    .caja-texto-imagen>.imagen-izquierda {
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }
}

/* FORMULARIO DE CONTACTO */
.formulario-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 500px;
    background-color: map-get($colores, 'primero');
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 20px;
    border-top: 3px solid map-get($colores, 'tercero');
    color: white;
}

.formulario-contacto>input {
    outline: none;
    border: none;
    height: 32px;
    padding: 0px 5px;
    text-transform: uppercase;
    border-bottom: 3px solid map-get($colores, 'tercero');
    font-family: 'Lato', sans-serif;
}

.formulario-contacto>textarea {
    height: 100px;
    resize: none;
    outline: none;
    border: none;
    padding: 5px 5px;
    text-transform: uppercase;
    border-bottom: 3px solid map-get($colores, 'tercero');
    font-family: 'Lato', sans-serif;
}

.formulario-contacto>button {
    background-color: map-get($colores, 'tercero');
    border: none;
    padding: 5px;
    font-weight: bold;
    color: map-get($colores, 'primero');
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.formulario-contacto>button:active {
    transform: scale(1.02);
}