/* HEAD */
header{
    section {
        box-sizing: border-box;
        width: 100%;
        margin: 50px 0px;
        padding: 20px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color: #202040;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid map-get($colores, 'tercero');
        @include sombras();
    }
}
    
.logo {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/imgs/logo.png);
    width: 180px;
    min-height: 80px;
}

@media (max-width: 1024px) {
    .menu-escritorios {
        display: none;
    }
}

.menu-escritorios{
    ul{
        margin: 0px;
        padding: 0px;
        display: flex;
        list-style: none;
        .active {
            border-bottom: 3px solid map-get($colores, 'tercero');;
            &::after {
                height: 0px;
            }
        }        
        li{
            a {
                display: inline-block;
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                padding: 20px;
            }
            &::after{
                transition: all ease-in-out .5s;
                background: none repeat scroll 0 0 map-get($colores, 'tercero');
                content: "";
                display: block;
                height: 3px;
                width: 0;
                margin-left: 10%;
            }
            &:hover:after {
                width: 80%;
            }
        }
    }
}

#btn-abrir-menu{
    .icono{
        filter: invert(100%);
        height: 25px;
        width: 25px;
    }
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 9px;
}

.menu-celulares {
    display: none;
}

.sidenav {
    display: none;
}

/* Sidenav */
@media (max-width: 1024px) {
    .menu-celulares {
        display: block;
        a {
            color: white;
            font-weight: bold;
            display: inline-block;
            outline: none;
            text-decoration: none;
        }
    }

    .sidenav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: map-get($colores, 'primero');
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        border-right: 4px solid map-get($colores, 'tercero');
        .logo {
            margin: auto !important;
            margin-bottom: 40px !important;
        }
        ul {
            list-style: none;
        }
        .enlaces {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 80%;
            margin: auto;
            li {
                margin: 15px 0px;
                .active {
                    border-bottom: 3px solid map-get($colores, 'tercero');
                }
                a {
                    color: white;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
        .redes {
            display: flex;
            margin: 0px;
            justify-content: center;
            padding: 0;
            margin-top: 60px;
            margin-bottom: 20px;
        }
        .informacion-contacto {
            color: white;
            width: 80%;
            margin: auto;
            font-size: 0.7rem;
            text-align: center;
        }
    }

    #btn-cerrar-sidenav {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: white;
        text-decoration: none;
        outline: none;
    }
}