/* INICIO - MAIN */
/* Implementacion GRID en inicio */
.grid-contenedor-inicio {
    display: grid;
    grid-template-areas:
        "slider slider slider"
        "card-1 card-2 card-3";
    gap: 25px;

    .grid-item-slider {
        grid-area: slider;
    }

    .grid-item-card-1 {
        grid-area: card-1;
    }

    .grid-item-card-2 {
        grid-area: card-2;
    }

    .grid-item-card-3 {
        grid-area: card-3;
    }
}

@media (max-width: 1024px) {
    .grid-contenedor-inicio {
        display: grid;
        grid-template-areas:
            "slider"
            "card-1"
            "card-2"
            "card-3";
        gap: 25px;
    }
}

main {
    section {
        .slider {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            background-color: map-get($colores, 'primero');
            border-top: 3px solid map-get($colores, 'tercero');
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            padding: 40px;
            box-sizing: border-box;
            background-position: center bottom;
            background-size: cover;
            background-repeat: no-repeat;
            @include sombras();
            background-image: url(../assets/imgs/slider_comprimido.webp);

            .titulo {
                background-color: map-get($colores, 'primero');
                padding: 15px;
                color: white;
                border-top: 3px solid map-get($colores, 'tercero');
                width: 40%;
            }
        }
    }

    .card {
        @include sombras();
        border-top: 4px solid map-get($colores, 'tercero');
        background-color: #202040;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        color: white;
        margin: 10px;

        p {
            padding: 10px 20px;
        }

        .imagen {
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            @extend .imagen-responsive;
            background-image: url(../assets/imgs/img_card_comprimido.webp);
            padding: 0px;
            margin: 0px;

            &::before {
                content: "";
                display: block;
                padding-top: 54%;
            }
        }
    }
}

@media (max-width: 600px) {
    main>section>.slider {
        padding: 5px;
    }
}

@media (max-width: 1024px) {
    main>section>.slider {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    main>section>.slider>.titulo {
        width: 100%;
    }

    main>section>.slider>.formulario-contacto {
        width: 100%;
    }
}