/* PRECIOS - MAIN */
/* Implementacion GRID en precios */
.grid-contenedor-precios {
    display: grid;
    grid-template-areas:
        "titulo titulo titulo"
        "plan-1 plan-2 plan-3"
        "promocion promocion promocion";
    gap: 25px;

    .grid-item-titulo {
        grid-area: titulo;
    }

    .grid-item-plan-1 {
        grid-area: plan-1;
    }

    .grid-item-plan-2 {
        grid-area: plan-2;
    }

    .grid-item-plan-3 {
        grid-area: plan-3;
    }

    .grid-item-promocion {
        grid-area: promocion;
    }
}

@media (max-width: 820px) {
    .grid-contenedor-precios {
        grid-template-areas:
            "titulo"
            "plan-1"
            "plan-2"
            "plan-3"
            "promocion";
    }
}

.pagina-precios {
    .plan {
        box-sizing: border-box;
        background-color: white;
        @include sombras();
        color: #202040;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top: 3px solid map-get($colores, 'tercero');
        min-height: 420px;
        width: 100%;
        padding: 40px;
        text-align: center;

        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;

            li {
                margin: 10px 0px;
            }
        }

        h2 {
            margin: 0px;
        }

        .precio {
            font-weight: bold;
            margin: 20px 0px;
        }
    }
}

.banner-promocional {
    @include sombras();
    display: flex;
    align-items: center;
    margin-top: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/imgs/banner_promo_comprimido_webp.webp);
    padding: 25px;
    margin: 0px;
    border-top: 3px solid map-get($colores, 'tercero');

    &::before {
        content: "";
        display: block;
        padding-top: 20%;
    }
}