/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* Colores */
$colores: ("primero": #202040, "segundo": #543864, "tercero": #FF6363, "cuarto": #FFBD69);

/* Fuentes */
$fuente: 'Lato', sans-serif;

/* Mixins */
@mixin sombras(){
    box-shadow: 2px 2px 0 rgb(0 0 0 / 14%), 0 5px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}